<div class="footer">
    <div class="contain">
        <div>
            <img src="../../../assets/icons/white_logo.png"  alt="whitelogo">
        </div>
        <div class="row">
            <div  class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                <ul>
                    <li>Home</li>
                    <li>Board of Directors</li>
                    <li>Management</li>
                    <li>Annual Report</li>
                    <li>Financial Statements</li>
                    <li>Mission</li>
                </ul>
            </div>
            <div  class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                <ul>
                    <li>Loan File Review</li>
                    <li>Products</li>
                    <li>Lending Team</li>
                    <li>Membership</li>
                    <li>How to Join</li>
                </ul>
            </div>
            <div  class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                <ul>
                    <li>Current Members</li>
                    <li>Useful Links</li>
                    <li>Affordability Requirements</li>
                    <li>Market Information</li>
    
                </ul>
            </div>
        </div>
    
        <div class=" row">
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 ">
                <img src="../../../assets/icons/Certified-logo1.jpg" alt="Certified-logo1">
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9 ">
                <ul class="row"> 
                    <li class="col-lg-4">PHONE: 801-366-0400</li>
                    <li class="col-lg-4">EMAIL: lending@rmcrc.org</li>
                    <li class="col-lg-4">FAX: 801-366-0402</li>
                    <li class="col-lg-12">ADDRESS: 64 E. Winchester Street, Suite 230, Salt Lake City, Utah 84107</li>
                </ul>
            </div>
        </div>
    
        <div class="copyright">
            <p>&copy; 2019 Rocky Mountain Community Reinvestment Corporation</p>
        </div>
    </div>
    

</div>