<section>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[3]" alt="Random fourth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[4]" alt="Random fifth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[5]" alt="Random sixth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper slider">
        <img [src]="images[6]" alt="Random seventh slide" />
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<section>
  <div class="bg-gray">
    <p>Rocky Mountain CRC has been providing permanent financing for affordable housing for 20+ years, successfully teaming with nonprofit and for-profit developers, construction lenders and investors.</p>
  </div>
</section>

<section>
  <div class="bg-clr">
    <h1>Check out why RMCRC is important</h1>
  </div>
  <div class="iframe1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rQ-MGWJ12Kk"
      title="RMCRC 2019 - Responsive – Innovative - Proficient" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="bg-check row">
      <div class="card1 col-sm-6 col-xs-12 col-md-6 col-lg-3 t-center ">
        <div>
          <img  class="shield" src="../../../assets/icons/shield.png" alt="shield">
        </div>
        <label>Current Portfolio — $145 Million</label>
        <label>Forward Commitments — $400 Million</label>
      </div>
      <div class="card1 col-sm-6 col-xs-12 col-md-6 col-lg-3 t-center">
        <div >
          <img class="shield" src="../../../assets/icons/clock.png" alt="clock">
        </div>
        <label>Affordable Units</label>
        <p>Funded — 9,500+</p>
      </div>
      <div class="card1 col-sm-6 col-xs-12 col-md-6 col-lg-3 t-center">
        <div >
          <img class="shield" src="../../../assets/icons/house.png" alt="house">
        </div>
        <label>Average AMI</label>
        <p>Served — 48%</p>
      </div>
      <div class="card1 col-sm-6 col-xs-12 col-md-6 col-lg-3 t-center">
        <div >
          <img class="shield" src="../../../assets/icons/shake-hand.png" alt="shake-hand">
        </div>
        <label>Property Locations in Over 50 Cities
          and Eight States in the Rocky Mountain Area</label>
      </div>
    </div>
  </div>
  

</section>